
<div class="container" style="width: 600px; margin-top: 10rem; ">
    <h1 style=" padding-left: 200px; color: rgb(255, 80, 133); font-family: Verdana, Geneva, Tahoma, sans-serif; "> LOGIN </h1>

    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input style="width: 500px;" type="email" class="form-control" placeholder="Enter email">

        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input style="width: 500px;" type="password" class="form-control" placeholder="Password">
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Login</button>

            <a routerLink='/form'>
                <h6 style="padding-top: 10px;">Create Account ?</h6>
            </a>
        </div>
    </form>

    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</div>

<router-outlet></router-outlet>
