<!--<div class="container-fluid">
    <div>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a class="navbar-brand" href="#">
                <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; padding-bottom: 20px;">next</h1>
            </a>
            <div class="input-group">
                <div class="form-outline">
                    <input type="search" id="form1" class="form-control" />
                    <label class="form-label" for="form1"></label>
                </div>
                <button type="button" class="btn btn-primary" style="height: fit-content;">
          <i class="fa fa-search" ></i>
        </button>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar" style="justify-content: space-between;">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            MyAccount
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Help
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            StoreLocator
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                        QuickShop
                    </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-heart"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
    <div>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="padding-left: 30px ;">HOME</a>
                    </li>
                    <li class="nav-item" style="padding-left: 30px;"> <a class="nav-link " href="#"> WOMEN</a> </li>
                    <li class="nav-item" style="padding-left: 30px;"> <a class="nav-link" href="#">MEN</a> </li>
                    <li class="nav-item" style="padding-left: 30px;"> <a class="nav-link" href="#">BOYS</a> </li>
                    <li class="nav-item" style="padding-left: 30px;"> <a class="nav-link" href="#">GIRLS</a> </li>
                    <li class="nav-item" style="padding-left: 30px;"> <a class="nav-link" href="#">BABY</a> </li>
                    <li class="nav-item" style="padding-left: 30px;"> <a class="nav-link" href="#">LINGERIE</a> </li>
                    <li class="nav-item" style="padding-left: 30px;"> <a class="nav-link" href="#">SHOES</a> </li>
                    <li class="nav-item" style="padding-left: 30px;"> <a class="nav-link" href="#">FURNITURE</a> </li>
                    <li class="nav-item" style="padding-left: 30px;"> <a class="nav-link" href="#">BEAUTY</a> </li>
                    <li class="nav-item" style="padding-left: 30px;"> <a class="nav-link" href="#">BRANDS</a> </li>
                    <li class="nav-item" style="padding-left: 30px;"> <a class="nav-link" href="#">SPORTS</a> </li>
                    <li class="nav-item" style="padding-left: 30px;"> <a class="nav-link" href="#">GIFTS</a> </li>
                    <li class="nav-item" style="padding-left: 30px;"> <a class="nav-link text-success " href="#">Clearence</a> </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="row container-fluid">
        <div class="col-sm-2" style=" height: 500px;">1475 products
            <div class="progress" style="width : 225px; height: 20px;">
                <div class="progress-bar bg-success" style="width:70%; height: 20px;">filter</div>
            </div>
            <div>
                <INPUT TYPE="checkbox" NAME="Color" VALUE="">New in </div>
            <div>
                <INPUT TYPE="checkbox" NAME="Color" VALUE="Navy">Stock</div>
            <div>
                <INPUT TYPE="checkbox" NAME="Color" VALUE="Black">Back in Stock
            </div>
            <div class="dropdown" style="margin: 2px;">
                <button style="width: 200px;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                      Category
                    </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Option1</a>
                    <a class="dropdown-item" href="#">Option2</a>
                    <a class="dropdown-item" href="#">Option3 here</a>
                </div>
            </div>
            <div class="dropdown" style="margin: 2px;">
                <button style="width: 200px;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                      Color
                    </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Option1</a>
                    <a class="dropdown-item" href="#">Option2</a>
                    <a class="dropdown-item" href="#">Option3 here</a>
                </div>
            </div>
            <div class="dropdown" style="margin: 2px;">
                <button style="width: 200px;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                      Brand
                    </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Option1</a>
                    <a class="dropdown-item" href="#">Option2</a>
                    <a class="dropdown-item" href="#">Option3 here</a>
                </div>
            </div>
            <div class="dropdown" style="margin: 2px;">
                <button style="width: 200px;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                      Design Feature
                    </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Option1</a>
                    <a class="dropdown-item" href="#">Option2</a>
                    <a class="dropdown-item" href="#">Option3 here</a>
                </div>
            </div>
            <div class="dropdown" style="margin: 2px;">
                <button style="width: 200px;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                      Personalised
                    </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Option1</a>
                    <a class="dropdown-item" href="#">Option2</a>
                    <a class="dropdown-item" href="#">Option3 here</a>
                </div>
            </div>
            <div class="dropdown" style="margin: 2px;">
                <button style="width: 200px;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                      Size
                    </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Option1</a>
                    <a class="dropdown-item" href="#">Option2</a>
                    <a class="dropdown-item" href="#">Option3 here</a>
                </div>
            </div>
            <div class="dropdown" style="margin: 2px;">
                <button style="width: 200px;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                      Use
                    </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Option1</a>
                    <a class="dropdown-item" href="#">Option2</a>
                    <a class="dropdown-item" href="#">Option3 here</a>
                </div>
            </div>
            <div class="dropdown" style="margin: 2px;">
                <button style="width: 200px;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                      Made With
                    </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Option1</a>
                    <a class="dropdown-item" href="#">Option2</a>
                    <a class="dropdown-item" href="#">Option3 here</a>
                </div>
            </div>
            <div class="dropdown" style="margin: 2px;">
                <button style="width: 200px;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                      Pattern
                    </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Option1</a>
                    <a class="dropdown-item" href="#">Option2</a>
                    <a class="dropdown-item" href="#">Option3 here</a>
                </div>
            </div>
            <div class="dropdown" style="margin: 2px;">
                <button style="width: 200px;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                      Price
                    </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Option1</a>
                    <a class="dropdown-item" href="#">Option2</a>
                    <a class="dropdown-item" href="#">Option3 here</a>
                </div>
            </div>

        </div>
        <div class="col-sm-10">
            <h3>Women's Bag</h3>
            <br>
            <div class="row ">
                <div class="card" style="width:300px">
                    <img class="card-img-top" style="height: 300px;" src="../assets/images/pq1.jpg" alt="Card image">
                    <div class="card-body" style="font-weight: bolder;">
                        Tan Leather Stich Bucket Bag
                        <p class="card-text">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </p> <a href="#">$500</a> </div>
                </div>
                <div class="card" style="width:300px">
                    <img class="card-img-top" style="height: 300px;" src="../assets/images/pq2.jpg" alt="Card image">
                    <div class="card-body" style="font-weight: bolder;">
                        Tan Leather Messenger Bag
                        <p class="card-text">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </p> <a href="#">$550</a> </div>
                </div>
                <div class="card" style="width:300px">
                    <img class="card-img-top" style="height: 300px;" src="../assets/images/pq3.jpg" alt="Card image">
                    <div class="card-body" style="font-weight: bolder;">
                        Black Leather Zip Across Bag
                        <p class="card-text">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </p> <a href="#">$545 </a>
                    </div>
                </div>
                <div class="card" style="width:300px">
                    <img class="card-img-top" src="../assets/images/pq4.jpg" alt="Card image">
                    <div class="card-body" style="font-weight: bolder;">
                        Tan Leather Stud Across Body Bag
                        <p class="card-text">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </p> <a href="#">$556</a> </div>
                </div>
                <div class="card" style="width:300px">
                    <img class="card-img-top" style="height: 300px;" src="../assets/images/pq5.jpg" alt="Card image">
                    <div class="card-body" style="font-weight: bolder;">
                        Tan Leather Stich Bucket Bag
                        <p class="card-text">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </p> <a href="#">$500</a> </div>
                </div>
                <div class="card" style="width:300px">
                    <img class="card-img-top" style="height: 300px;" src="../assets/images/pq6.jpg" alt="Card image">
                    <div class="card-body" style="font-weight: bolder;">
                        Tan Leather Messenger Bag
                        <p class="card-text">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </p> <a href="#">$550</a> </div>
                </div>
                <div class="card" style="width:300px">
                    <img class="card-img-top" style="height: 300px;" src="../assets/images/pq7.jpg" alt="Card image">
                    <div class="card-body" style="font-weight: bolder;">
                        Black Leather Zip Across Bag
                        <p class="card-text">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </p> <a href="#">$545 </a>
                    </div>
                </div>
                <div class="card" style="width:300px">
                    <img class="card-img-top" style="height: 300px;" src="../assets/images/pq8.jpg" alt="Card image">
                    <div class="card-body" style="font-weight: bolder;">
                        Tan Leather Stud Across Body Bag
                        <p class="card-text">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </p> <a href="#">$556</a> </div>
                </div>
            </div>
        </div>
    </div>

</div>
<button type="button" class="btn-primary"> sejdhebkhs</button>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>-->

<div class="container" style="width: 600px; margin-top: 10rem; ">
    <h1 style=" padding-left: 200px; color: rgb(255, 80, 133); font-family: Verdana, Geneva, Tahoma, sans-serif; "> LOGIN </h1>

    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input style="width: 500px;" type="email" class="form-control" placeholder="Enter email">

        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input style="width: 500px;" type="password" class="form-control" placeholder="Password">
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Login</button>

            <a routerLink='/form'>
                <h6 style="padding-top: 10px;">Create Account ?</h6>
            </a>
        </div>
    </form>

    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</div>

<router-outlet></router-outlet>